public/data/dtd/navigation.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Navigation (Main, Misc?)>

	<!ELEMENT Main (Item+)>
	<!ATTLIST Main
		menuImageSrc CDATA #IMPLIED
	>
	<!ELEMENT Misc (Item+)>
	
		<!ELEMENT Item (Title,Item*)>
		<!ATTLIST Item
			pageID CDATA #IMPLIED
			menuImageSrc CDATA #IMPLIED
			x CDATA #IMPLIED
		>
			<!ELEMENT Title (#PCDATA)>
